.page-container {
  background: linear-gradient(to bottom, rgb(170, 169, 169), rgb(86, 84, 84));
  width: 100%;
  min-height: 100vh;
  color: #fff; 
  display: flex;
  justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
  }

  .h1-not-home {
    position: fixed;
    top: 20rem;
    color: rgb(92, 2, 2);
  }

  .h1-home {
    position: fixed;
    top: 30rem;
    right:50rem;
    color: rgb(92, 2, 2);
  }

  h1 {
    font-size: 4rem;
  }

  .register-form {
    position: fixed;
    top: 30rem;
  }